sublime/User/Package Control.cache
sublime/User/Package Control.last-run
sublime/User/SPARQLRunner.sublime-settings

ssh/known_hosts
ssh/environment-MacGyver
ssh/id_boot2docker
ssh/id_boot2docker.pub
ssh/mfrommhold_id_rsa
ssh/mfrommhold_id_rsa.pub

# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
